<section class="p-4 text-center">
    <footer class="bg-body-tertiary text-center">
      <!-- Grid container -->
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a data-mdb-ripple-init="" class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

          
        </section>
        <!-- Section: Social media -->
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(132, 0, 255, 0.05);">
        © 2024 Copyright:Little bird flies away. IoT repels birds. | Information Technology | 
        <a class="text-body" href="https://www3.pongsawadi.ac.th/psc2023/">Pongsawadi Technological Collge</a>
      </div>
      <!-- Copyright -->
    </footer>
  </section>