<div class="container mt-5">
    <h1 class="text-center">สมาชิกในกลุ่ม 3</h1>
    <div class="container">
        <div class="card mb-3 center" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="\assets\img\Teams\image1.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">นายอัฑฒกร จันสนิท</h5>
                        <p class="card-text">อาร์ซัน</p>
                        <p class="card-text"><small class="text-muted">เลขที่ 8 ปวส.1/4</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card mb-3 center" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="\assets\img\Teams\image2.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">นายธนโชติ สมศร้า</h5>
                        <p class="card-text">ฟีน</p>
                        <p class="card-text"><small class="text-muted">เลขที่ 12 ปวส.1/4</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card mb-3 center" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="\assets\img\Teams\image3.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">นายสุวิจักร์ วุฒิไรวณิชย์</h5>
                        <p class="card-text">เอริก</p>
                        <p class="card-text"><small class="text-muted">เลขที่ 9 ปวส.1/4</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>