<header>
    <h1>
        Little bird flies away. IoT repels birds.
    </h1>
</header>

<div class="container mt-5">
    <div class="text-center">
        <h2>อุปกรณ์ IoT</h2>
        <label>นกน้อยบินหนี IoT ไล่นก</label>
    </div>
    <div class="row mt-5">
        <div class="col">
            <img src="assets/img/Product/ESP 32.png">
        </div>
        <div class="col-7">
            ESP32 เป็นไมโครคอนโทรลเลอร์ที่มีความสามารถสูงและได้รับความนิยมในการพัฒนาอุปกรณ์ IoT (Internet of Things)
            โดยมีคุณสมบัติหลักดังนี้:

            ซีพียู: ใช้สถาปัตยกรรม Tensilica LX6 แบบ 2 คอร์ ความเร็วสัญญาณนาฬิกา 240MHz
            หน่วยความจำ: มีแรมในตัว 512KB และรองรับการเชื่อมต่อรอมภายนอกสูงสุด 16MB
            การเชื่อมต่อ: รองรับ WiFi มาตรฐาน 802.11 b/g/n และ Bluetooth 4.2 BLE
            แรงดันไฟฟ้า: ใช้แรงดันไฟฟ้าในการทำงาน 2.6V ถึง 3V
            อุณหภูมิการทำงาน: ทำงานได้ที่อุณหภูมิ -40°C ถึง 125°C
            GPIO: มีขา GPIO จำนวน 34 ขา แต่ไม่ใช่ว่าทุกขาจะใช้งานได้ทุกฟังก์ชั่น2.
            ฟังก์ชั่นเพิ่มเติม: มีเซ็นเซอร์แม่เหล็ก, เซ็นเซอร์สัมผัส (Capacitive touch),
            และวงจรกรองสัญญาณรบกวนในวงจรขยายสัญญาณ1
            ESP32
            เหมาะสำหรับการพัฒนาอุปกรณ์ที่ต้องการการเชื่อมต่อไร้สายและการประมวลผลที่มีประสิทธิภาพสูงในราคาที่ไม่แพง
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <img src="assets/img/Product/pir motion sensor.png">
        </div>
        <div class="col-7">
            ESP32 เป็นไมโครคอนโทรลเลอร์ที่มีความสามารถสูงและได้รับความนิยมในการพัฒนาอุปกรณ์ IoT (Internet of Things)
            โดยมีคุณสมบัติหลักดังนี้:

            ซีพียู: ใช้สถาปัตยกรรม Tensilica LX6 แบบ 2 คอร์ ความเร็วสัญญาณนาฬิกา 240MHz
            หน่วยความจำ: มีแรมในตัว 512KB และรองรับการเชื่อมต่อรอมภายนอกสูงสุด 16MB
            การเชื่อมต่อ: รองรับ WiFi มาตรฐาน 802.11 b/g/n และ Bluetooth 4.2 BLE
            แรงดันไฟฟ้า: ใช้แรงดันไฟฟ้าในการทำงาน 2.6V ถึง 3V
            อุณหภูมิการทำงาน: ทำงานได้ที่อุณหภูมิ -40°C ถึง 125°C
            GPIO: มีขา GPIO จำนวน 34 ขา แต่ไม่ใช่ว่าทุกขาจะใช้งานได้ทุกฟังก์ชั่น2.
            ฟังก์ชั่นเพิ่มเติม: มีเซ็นเซอร์แม่เหล็ก, เซ็นเซอร์สัมผัส (Capacitive touch),
            และวงจรกรองสัญญาณรบกวนในวงจรขยายสัญญาณ1
            ESP32
            เหมาะสำหรับการพัฒนาอุปกรณ์ที่ต้องการการเชื่อมต่อไร้สายและการประมวลผลที่มีประสิทธิภาพสูงในราคาที่ไม่แพง
        </div>
    </div>
</div>